[filament_switch_sensor Filament_Runout]
##	Connected to Z+ on mcu_xye
pause_on_runout: FALSE
runout_gcode: 
	M600
event_delay: 3.0
#   The minimum amount of time in seconds to delay between events.
#   Events triggered during this time period will be silently
#   ignored. The default is 3 seconds.
pause_delay: 0.5
switch_pin: P1.24
