##========================== SKR 1.4 / 1.4 Turbo Pin Definitions ========================
[board_pins]    # XYE board
aliases:
    BED=P2.5,
    E0_DIR=P0.11, E0_ENABLE=P2.12, E0_STEP=P2.13, E0_UART=P1.4, E0_DET=P1.26,
    E1_DIR=P1.14, E1_ENABLE=P1.16, E1_STEP=P1.15, E1_UART=P1.1, E1_DET=P1.25,
    FAN0=P2.3,
    HE0=P2.7, HE1=P2.4,
    PROBE=P0.10,
    PWR_DET=P1.0,
    SERVO=P2.0,
    TB=P0.25,
    TH0=P0.24, TH1=P0.23,
    X_DIR=P2.6, X_ENABLE=P2.1, X_STOP=P1.29, X_STEP=P2.2, X_UART=P1.10,
    Y_DIR=P0.20, Y_ENABLE=P2.8, Y_STOP=P1.28, Y_STEP=P0.19, Y_UART=P1.9,
    Z_DIR=P2.11 ,Z_ENABLE=P0.21, Z_STOP=P1.27, Z_STEP=P0.22, Z_UART=P1.8,
    NEOPIXEL=P1.24,
    EXP1_1=P1.30, EXP1_3=P1.18, EXP1_5=P1.20, EXP1_7=P1.22, EXP1_9=<GND>,
    EXP1_2=P0.28, EXP1_4=P1.19, EXP1_6=P1.21, EXP1_8=P1.23, EXP1_10=<5V>,
    EXP2_1=P0.17, EXP2_3=P3.26, EXP2_5=P3.25, EXP2_7=P1.31, EXP2_9=<GND>,
    EXP2_2=P0.15, EXP2_4=P0.16, EXP2_6=P0.18, EXP2_8=<RST>, EXP2_10=<NC>

[board_pins z]  # Z board
aliases:
    BED=P2.5,
    E0_DIR=P0.11, E0_ENABLE=P2.12, E0_STEP=P2.13, E0_UART=P1.4, E0_DET=P1.26,
    E1_DIR=P1.14, E1_ENABLE=P1.16, E1_STEP=P1.15, E1_UART=P1.1, E1_DET=P1.25,
    FAN0=P2.3,
    HE0=P2.7, HE1=P2.4,
    PROBE=P0.10,
    PWR_DET=P1.0,
    SERVO=P2.0,
    TB=P0.25,
    TH0=P0.24, TH1=P0.23,
    X_DIR=P2.6, X_ENABLE=P2.1, X_STOP=P1.29, X_STEP=P2.2, X_UART=P1.10,
    Y_DIR=P0.20, Y_ENABLE=P2.8, Y_STOP=P1.28, Y_STEP=P0.19, Y_UART=P1.9,
    Z_DIR=P2.11 ,Z_ENABLE=P0.21, Z_STOP=P1.27, Z_STEP=P0.22, Z_UART=P1.8,
    NEOPIXEL=P1.24,
    EXP1_1=P1.30, EXP1_3=P1.18, EXP1_5=P1.20, EXP1_7=P1.22, EXP1_9=<GND>,
    EXP1_2=P0.28, EXP1_4=P1.19, EXP1_6=P1.21, EXP1_8=P1.23, EXP1_10=<5V>,
    EXP2_1=P0.17, EXP2_3=P3.26, EXP2_5=P3.25, EXP2_7=P1.31, EXP2_9=<GND>,
    EXP2_2=P0.15, EXP2_4=P0.16, EXP2_6=P0.18, EXP2_8=<RST>, EXP2_10=<NC>
