# See docs/Config_Reference.md for a description of parameters.

[mcu]
## Obtain definition by "ls -l /dev/serial/by-id/" then unplug to verify
serial: /dev/serial/by-id/usb-Klipper_stm32f407xx_53004C001250424B32333720-if00


#--------------------------------------------------------------------
##--------------------------------------------------------------------
[printer]
kinematics: corexy
max_velocity: 150  
max_accel: 2000   			#Max 4000
max_z_velocity: 15 			#Max 15 for 12V TMC Drivers, can increase for 24V
max_z_accel: 30
square_corner_velocity: 5.0

[stepper_x]
step_pin:PC14
dir_pin:!PC13
enable_pin:!PC15
microsteps: 16
rotation_distance: 40
full_steps_per_rotation:200  #set to 400 for 0.9 degree stepper
endstop_pin:PA14
position_min: 0  
position_endstop: 230
position_max: 230

#--------------------------------------------------------------------
homing_speed:50
homing_retract_dist:5
homing_positive_dir:true

[stepper_y]
step_pin:PE5
dir_pin:!PE4
enable_pin:!PC15
microsteps:16
rotation_distance: 40
full_steps_per_rotation:200  #set to 400 for 0.9 degree stepper
endstop_pin:PA15
position_min: 0
position_endstop:230
position_max:230

#--------------------------------------------------------------------
homing_speed:50
homing_retract_dist:5
homing_positive_dir:true

[stepper_z]
step_pin:PE1
dir_pin:!PE0
enable_pin: !PE2
microsteps: 16
rotation_distance: 40
full_steps_per_rotation: 200
gear_ratio: 80:16
endstop_pin:probe:z_virtual_endstop ## PB12 for Z-max; endstop have'!' is NO

##  Z-position of nozzle (in mm) to z-endstop trigger point relative to print surface (Z0)
##  (+) value = endstop above Z0, (-) value = endstop below
##	Increasing position_endstop brings nozzle closer to the bed
##  After you run Z_ENDSTOP_CALIBRATE, position_endstop will be stored at the very end of your config
#position_endstop:-5
position_max: 230
position_min: -15 
homing_speed: 8
second_homing_speed: 3

[stepper_z1]
step_pin:PD6
dir_pin:PD5
enable_pin:!PD7
microsteps:16
rotation_distance: 40
full_steps_per_rotation: 200
gear_ratio: 80:16

[stepper_z2]
step_pin:PD2
dir_pin:PD1
enable_pin:!PD3
microsteps: 16
rotation_distance: 40
full_steps_per_rotation: 200
gear_ratio: 80:16

[stepper_z3]
step_pin:PC7
dir_pin:PC6
enable_pin:!PC8
microsteps:16
rotation_distance:40
full_steps_per_rotation: 200
gear_ratio:80:16


[extruder]
step_pin:PB5
dir_pin:!PB4
enable_pin:!PB6
microsteps:16
rotation_distance: 25.12	#Bondtech 5mm Drive Gears
gear_ratio: 50:17
full_steps_per_rotation: 200	#200 for 1.8 degree, 400 for 0.9 degree
nozzle_diameter: 0.400
filament_diameter: 1.750
min_temp: 0
max_temp: 275
heater_pin: PB1
sensor_type:  NTC 100K MGB18-104F39050L32
sensor_pin: PC1
max_power: 1.0
control : pid  
pid_kp : 26.213 
pid_ki : 1.304
pid_kd : 131.721 
pressure_advance: 0.05 
pressure_advance_smooth_time: 0.040

#[extruder1]
#step_pin: PD6
#dir_pin: !PD5
#enable_pin: !PD7
#heater_pin: PB0
#sensor_pin: PC2

#[extruder2]
#step_pin: PD2
#dir_pin: !PD1
#enable_pin: !PD3
#heater_pin: PA3
#sensor_pin: PC3

#[extruder3]
#step_pin: PC7
#dir_pin: PC6
#enable_pin: !PC8

#[extruder4]
#step_pin: PD13
#dir_pin: !PD12
#enable_pin: !PD14

[heater_bed]
heater_pin: PB10
sensor_type: NTC 100K MGB18-104F39050L32
sensor_pin: PC0
max_power: 1.0
control = pid
pid_kp = 71.039
pid_ki = 2.223
pid_kd = 567.421
min_temp: 0
max_temp: 200

#fan for printed model FAN0
[fan]
pin: PA2

#fan for hotend FAN1
#[heater_fan my_nozzle_fan]
[heater_fan fan1]
pin: PA1
shutdown_speed: 1

#fan for control board FAN2
#[heater_fan my_control_fan]
[heater_fan fan2]
pin: PA0
shutdown_speed: 1

#####################################################################
#	Homing and Gantry Adjustment Routines
#####################################################################
[idle_timeout]
timeout: 3600

[safe_z_home]
home_xy_position: 125,125 # Change coordinates to the center of your print bed
speed: 100
z_hop: 10                 # Move up 10mm
z_hop_speed: 5

[quad_gantry_level]
gantry_corners:
	-58,-7
    308,318
##	Probe points
points:
	30,30
	30,180
	180,180
	180,30
speed: 80
horizontal_move_z: 10
retries: 1
retry_tolerance: 0.05
max_adjust: 30

#####################################################################
# 	Probe
#####################################################################
[probe]
pin:!PB12
x_offset: 0
y_offset: 25.0
z_offset: 3.6
speed: 10.0
samples: 2
samples_result: median
sample_retract_dist: 3.0
samples_tolerance: 0.05
samples_tolerance_retries: 1

#####################################################################
# LED Control
#####################################################################

#[output_pin caselight ](Use PA9)
##  Chamber Lighting - In 5V-RGB Position
#pin: PA9
#pwm: true
#shutdown_value: 0
#value:100
#cycle_time: 0.01

########################################
# TMC UART configuration
########################################

[tmc2209 stepper_x]
uart_pin: PE6
interpolate: True
run_current: 0.8
hold_current: 0.3
sense_resistor: 0.110
stealthchop_threshold: 9999

[tmc2209 stepper_y]
uart_pin: PE3
interpolate: True
run_current: 0.8
hold_current: 0.3
sense_resistor: 0.110
stealthchop_threshold: 9999

[tmc2209 stepper_z]
uart_pin: PB7
interpolate: True
run_current: 0.8
hold_current: 0.5
stealthchop_threshold: 0

[tmc2209 extruder]
uart_pin: PB3
interpolate: True
run_current: 0.6
hold_current: 0.5
sense_resistor: 0.110
stealthchop_threshold: 9999

[tmc2209 stepper_z1]
uart_pin: PD4
interpolate: True
run_current: 0.8
hold_current: 0.5
stealthchop_threshold: 0

[tmc2209 stepper_z2]
uart_pin: PD0
interpolate: True
run_current: 0.8
hold_current: 0.5
stealthchop_threshold: 0

[tmc2209 stepper_z3]
uart_pin: PD15
interpolate: True
run_current: 0.8
hold_current: 0.5
stealthchop_threshold: 0

#[tmc2208 extruder4]
#uart_pin: PD11
#run_current: 0.8
#hold_current: 0.5
#stealthchop_threshold: 999999

########################################
# TMC SPI configuration
########################################

#[tmc2130 stepper_x]
#spi_bus: spi4
#cs_pin: PE6
#diag1_pin: PA14
#run_current: 0.800
#hold_current: 0.500
#stealthchop_threshold: 999999

#[tmc2130 stepper_y]
#spi_bus: spi4
#cs_pin: PE3
#diag1_pin: PA15
#run_current: 0.800
#hold_current: 0.500
#stealthchop_threshold: 999999

#[tmc2130 stepper_z]
#spi_bus: spi4
#cs_pin: PB7
#diag1_pin: PB13
#run_current: 0.800
#hold_current: 0.500
#stealthchop_threshold: 999999

#[tmc2130 extruder]
#spi_bus: spi4
#cs_pin: PB3
#diag1_pin: PA13
#run_current: 0.800
#hold_current: 0.500
#stealthchop_threshold: 999999

#[tmc2130 extruder1]
#spi_bus: spi4
#cs_pin: PD4
#diag1_pin: PC5
#run_current: 0.800
#hold_current: 0.500
#stealthchop_threshold: 999999

#[tmc2130 extruder2]
#spi_bus: spi4
#cs_pin: PD0
#diag1_pin: PB12
#run_current: 0.800
#hold_current: 0.500
#stealthchop_threshold: 999999

#[tmc2130 extruder3]
#spi_bus: spi4
#cs_pin: PD15
#run_current: 0.800
#hold_current: 0.500
#stealthchop_threshold: 999999

#[tmc2130 extruder4]
#spi_bus: spi4
#cs_pin: PD11
#run_current: 0.800
#hold_current: 0.500
#stealthchop_threshold: 999999

########################################
# EXP1 / EXP2 (display) pins
########################################

[board_pins]
aliases:
    # EXP1 header
    EXP1_10=<5V>, EXP1_9=<GND>,
    EXP1_8=PE7,   EXP1_7=PE15,
    EXP1_6=PD8,  EXP1_5=PD9,     # Slot in the socket on the other side
    EXP1_4=PD10,   EXP1_3=PE11,
    EXP1_2=PE10,   EXP1_1=PB2,

    # EXP2 header
    EXP2_10=<5V>, EXP2_9=<GND>,
    EXP2_8=<RST>, EXP2_7=PB11,
    EXP2_6=PA7,   EXP2_5=PE8,       # Slot in the socket on the other side
    EXP2_4=PA4,   EXP2_3=PE9,
    EXP2_2=PA5,   EXP2_1=PA6

# See the sample-lcd.cfg file for definitions of common LCD displays.

# Some alternate glyphs for use with 128x64 LCDs. These are used by
# adding them to your printer.cfg.

# See docs/Config_Reference.md for a description of parameters.

######################################################################
# MKS Mini 12864v3.0 (with neopixel backlight leds)
######################################################################

[display]
lcd_type: uc1701
cs_pin: EXP1_3
a0_pin: EXP1_4
rst_pin: EXP1_5
contrast: 63
encoder_pins: ^EXP2_5, ^EXP2_3
click_pin: ^!EXP1_2
## Some micro-controller boards may require an spi bus to be specified:
#spi_bus: spi
## Alternatively, some micro-controller boards may work with software spi:
spi_software_miso_pin: EXP2_1
spi_software_mosi_pin: EXP2_6
spi_software_sclk_pin: EXP2_2

[output_pin beeper]
pin: EXP1_1

[neopixel fysetc_mini12864]
pin: EXP1_6
chain_count: 3
color_order: RGB
initial_RED: 1.0
initial_GREEN: 1.0
initial_BLUE: 0.0

#####################################################################
# 	Macros
#####################################################################

[gcode_macro G32]
gcode:
    BED_MESH_CLEAR
    G28
    QUAD_GANTRY_LEVEL
    G28
    ##	Uncomment for for your size printer:
    #--------------------------------------------------------------------
    ##	Uncomment for 250mm build
    #G0 X115 Y115 Z30 F3600
    
    ##	Uncomment for 300 build
    #G0 X150 Y150 Z30 F3600
    
    ##	Uncomment for 350mm build
    #G0 X175 Y175 Z30 F3600
    #--------------------------------------------------------------------
   
[gcode_macro PRINT_START]
#   Use PRINT_START for the slicer starting script - please customise for your slicer of choice
gcode:
    G32                            ; home all axes
    G1 Z20 F3000                   ; move nozzle away from bed
   

[gcode_macro PRINT_END]
#   Use PRINT_END for the slicer ending script - please customise for your slicer of choice
gcode:
    M400                           ; wait for buffer to clear
    G92 E0                         ; zero the extruder
    G1 E-10.0 F3600                ; retract filament
    G91                            ; relative positioning
    G0 Z1.00 X20.0 Y20.0 F20000    ; move nozzle to remove stringing
    TURN_OFF_HEATERS
    M107                           ; turn off fan
    G1 Z2 F3000                    ; move nozzle up 2mm
    G90                            ; absolute positioning
    G0  X125 Y250 F3600            ; park nozzle at rear
    BED_MESH_CLEAR

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [probe]
#z_offset = 3.600

[virtual_sdcard]
path: ~/gcode_files

[pause_resume]

[gcode_macro CANCEL_PRINT]
description: Cancel the actual running print
rename_existing: CANCEL_PRINT_BASE
gcode:
  TURN_OFF_HEATERS
  CANCEL_PRINT_BASE


[display_status]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [probe]
#*# z_offset = 3.399

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [probe]
#*# z_offset = 3.299

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [probe]
##z_offset = -2.001

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 71.039
#*# pid_ki = 2.223
#*# pid_kd = 567.421
