[stepper_x]
step_pin: PB13
dir_pin: PB12
enable_pin: !PB14
step_distance: 0.0125
endstop_pin: ^PC0
position_endstop: 250
position_min: 0
position_max: 250
homing_speed: 70
homing_positive_dir: true

[tmc2209 stepper_x]
uart_pin: PC11
tx_pin: PC10
uart_address: 0
microsteps: 16
run_current: 0.5
hold_current: 0.3
interpolate: True
stealthchop_threshold: 250

[stepper_y]
step_pin: PB10
dir_pin: PB2
enable_pin: !PB11
step_distance: 0.0125
endstop_pin: ^PC1
position_endstop: 250
position_min: 0
position_max: 250
homing_speed: 70
homing_positive_dir: true

[tmc2209 stepper_y]
uart_pin: PC11
tx_pin: PC10
uart_address: 2
microsteps: 16
run_current: 0.5
hold_current: 0.3
interpolate: True
stealthchop_threshold: 250

[stepper_z]
step_pin: PB0
dir_pin: PC5
enable_pin: !PB1
step_distance: .0125
endstop_pin: probe:z_virtual_endstop
position_endstop: 0.0
position_max: 250
homing_speed: 40
position_min: -3.0

[tmc2209 stepper_z]
uart_pin: PC11
tx_pin: PC10
uart_address: 1
microsteps: 16
run_current: 0.5
hold_current: 0.3
interpolate: True
stealthchop_threshold: 250

[homing_override]
axes: z
set_position_z: 0
gcode:
    G90
    G0 Z5 F500
    G28 X0 Y0
    G0 X125 Y100 F9000
    G28 Z0
    G0 Z5 F500

[bed_mesh]
speed: 150
horizontal_move_z: 5
mesh_min: 25,35.0
mesh_max: 225.0,220
probe_count: 6,6
algorithm: bicubic
fade_start: 1
fade_end: 10
fade_target: 0

[probe]
pin: ^PC2
x_offset: 0.0
y_offset: 25.0
z_offset: 1.85
speed: 40

[extruder]
max_extrude_only_distance: 100.0
step_pin: PB3
dir_pin: PB4
enable_pin: !PD2
step_distance: 0.001216685
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PC8
pressure_advance: 0.05
pressure_advance_smooth_time: 0.040
sensor_type: ATC Semitec 104GT-2
#sensor_type: EPCOS 100K B57560G104F
#sensor_type: NTC 100K beta 3950
sensor_pin: PA0
control = pid
pid_kp = 18.973
pid_ki = 0.771
pid_kd = 116.683
min_temp: 0
max_temp: 270

[tmc2209 extruder]
uart_pin: PC11
tx_pin: PC10
uart_address: 3
microsteps: 32
run_current: 0.7
hold_current: 0.3
interpolate: True

[controller_fan my_controller_fan]
pin: PA1
max_power: 1.00
kick_start_time: 0.200
heater: heater_bed

[heater_bed]
heater_pin: PC9
sensor_type: ATC Semitec 104GT-2
sensor_pin: PC3
control = pid
pid_kp = 60.695
pid_ki = 1.073
pid_kd = 858.069
min_temp: 0
max_temp: 130

[fan]
pin: PC6

# thermally controlled hotend fan
[heater_fan my_nozzle_fan]
pin: PC7
max_power: 1.0
kick_start_time: 0.100
heater: extruder
heater_temp: 50.0
fan_speed: 1.0

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f103xe_35FFD8054246303211710657-if00

[printer]
kinematics: corexz
max_velocity: 200
max_accel: 1000
max_z_velocity: 50
max_z_accel: 1000
square_corner_velocity: 4.0

[static_digital_output usb_pullup_enable]
pins: !PA14

[output_pin LIGHTS]
pin: PC12
value: 0
shutdown_value: 0

[display]
#    mini12864 LCD Display
lcd_type: uc1701
cs_pin: PB9
a0_pin: PB8
rst_pin: PB15
encoder_pins: ^PA9,^PA15
click_pin: ^!PA10
contrast: 63

spi_software_sclk_pin: PA5
spi_software_mosi_pin: PA7
spi_software_miso_pin: PA6

#[moonraker]
#trusted_clients:
#    192.168.1.0/24

[virtual_sdcard]
path: /home/pi/sdcard

[gcode_macro lights_on]
gcode:
    SET_PIN PIN=LIGHTS VALUE=1.0

[gcode_macro lights_off]
gcode:
    SET_PIN PIN=LIGHTS VALUE=0.0

[pause_resume]

[gcode_macro CANCEL_PRINT]
rename_existing: BASE_CANCEL_PRINT
default_parameter_X: 230
default_parameter_Y: 230
default_parameter_Z: 10
gcode:
    M104 S0
    M140 S0
    M141 S0
    M106 S0
    CLEAR_PAUSE
    RESET_SD
    BASE_CANCEL_PRINT

[gcode_macro PAUSE]
rename_existing: BASE_PAUSE
default_parameter_X: 230
default_parameter_Y: 230
default_parameter_Z: 10
gcode:
    SAVE_GCODE_STATE NAME=PAUSE_state
    BASE_PAUSE
    G91
    G1 E-1.7 F2100
    G1 Z{Z}
    G90
    G1 X{X} Y{Y} F6000
    G91

[gcode_macro RESUME]
rename_existing: BASE_RESUME
gcode:
    G91
    G1 E1.7 F2100
    G91
    RESTORE_GCODE_STATE NAME=PAUSE_state MOVE=1
    BASE_RESUME

[gcode_macro DISABLE_MOTORS]
gcode:
    M18

#[menu __octoprint]
#type: list
#enable: false
#name: OctoPrint
#items:
#    .__pause
#    .__resume
#    .__abort

[menu __prepare]
type: list
enable: !toolhead.is_printing
name: Prepare
items:
    .__bed_mesh_calibrate
    .__bed_mesh_clear
    .__hotend_pid_tuning
    .__hotbed_pid_tuning
    .__host_restart
    .__firmware_restart

[menu __prepare __bed_mesh_calibrate]
type: command
enable: !toolhead.is_printing
name: Calibrate Bed Mesh
gcode: BED_MESH_CALIBRATE

[menu __prepare __bed_mesh_clear]
type: command
enable: !toolhead.is_printing
name: Clear Bed Mesh
gcode: BED_MESH_CLEAR

[menu __temp __cooldown]
type: command
enable: extruder.is_enabled,heater_bed.is_enabled
name: Cooldown
gcode:
    M104 S0
    M140 S0

[menu __control]
type: list
name: Control
items:
    .__home
    .__move_10mm
    .__move_1mm
    .__move_01mm
    .__disable
    .__fanonoff
    .__fanspeed

[menu __control __move_10mm __axis_x]
type: input
name: "X:{0:05.1f} "
parameter: gcode.move_xpos
input_min: 0
input_max: 250.0
input_step: 10.0
gcode:
    G90
    G1 X{0:.1f} F2400

[menu __control __move_10mm __axis_y]
type: input
name: "Y:{0:05.1f} "
parameter: gcode.move_ypos
input_min: 0
input_max: 250.0
input_step: 10.0
gcode:
    G90
    G1 Y{0:.1f} F2400

[menu __control __move_10mm __axis_z]
type: input
enable: !toolhead.is_printing
name: "Move Z:{0:05.1f}"
parameter: gcode.move_zpos
input_min: 0
input_max: 230.0
input_step: 10.0
gcode:
    G90
    G1 Z{0:.1f} F240

[menu __control __move_1mm __axis_x]
type: input
name: "X:{0:05.1f} "
parameter: gcode.move_xpos
input_min: 0
input_max: 250.0
input_step: 1.0
gcode:
    G90
    G1 X{0:.1f} F2400

[menu __control __move_1mm __axis_y]
type: input
name: "Y:{0:05.1f} "
parameter: gcode.move_ypos
input_min: 0
input_max: 250.0
input_step: 1.0
gcode:
    G90
    G1 Y{0:.1f} F2400

[menu __control __move_1mm __axis_z]
type: input
enable: !toolhead.is_printing
name: "Move Z:{0:05.1f}"
parameter: gcode.move_zpos
input_min: -3
input_max: 230.0
input_step: 1.0
gcode:
    G90
    G1 Z{0:.1f} F240

[menu __control __move_01mm __axis_x]
type: input
name: "X:{0:05.1f} "
parameter: gcode.move_xpos
input_min: 0
input_max: 250.0
input_step: 0.1
gcode:
    G90
    G1 X{0:.1f} F2400

[menu __control __move_01mm __axis_y]
type: input
name: "Y:{0:05.1f} "
parameter: gcode.move_ypos
input_min: 0
input_max: 250.0
input_step: 0.1
gcode:
    G90
    G1 Y{0:.1f} F2400

[menu __control __move_01mm __axis_z]
type: input
enable: !toolhead.is_printing
name: "Move Z:{0:05.1f}"
parameter: gcode.move_zpos
input_min: -3.0
input_max: 230.0
input_step: 0.1
gcode:
    G90
    G1 Z{0:.1f} F240